^{:watch-dirs ["src"]
  :open-url false}
{:main reload.client
 :output-to "resources/public/js/reload.js"
 :output-dir "resources/public/js/out"
 :asset-path "js/out"
 :optimizations :advanced
 :parallel-build true}
